<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sariq dev</title>
</head>
<body>
    <h1>
        python va django darislari web sayti
    </h1>
    
    <a href="{% url 'django' %}">django darislari</a> <br>
    <a href="{% url 'python' %}">python darislari</a>
    {% block blockname %}
      
    {% endblock blockname %}

</body>
</html>